@charset "UTF-8";

@media only screen and (orientation: portrait) {
    header{
        width:100%;
        height:94px;
        background-image: url("images/topp_cell.jpg");
    }
 .nav{
     background-color: #999999;
         clear:both;
 }
 .ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 100%;
     background-color: #333;
     position: relative;
     height: auto;
     overflow: auto;
 }

 li a {
     display: block;
     color: white;
     padding: 10px 16px;
     text-decoration: none;
     }
 
 li a.active{
     background-color: #111;
     color: white;
 }


 }
 @media only screen and (orientation: landscape) {
 .wrapper{
     width: 800px;
     height: 1000px;
     background-color: pink;
     margin: auto;
 }

 header{
     width:800px;
     height: 150px;
     background-image: url("images/topp.jpg");
 }

 .nav{
     width: 800px;
     height: 40px;
     background-color: #999999;
 }

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
 }

 li {
     float: left;
 }

 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 10px 16px;
     text-decoration: none;
 }

 li a:hover {
     background-color: #111;
 }

 article{
     width: 500px;
     height: 720px;
     background-color: #ffffff;
     float: left;
     box-sizing: border-box;/*Nytt*/
     padding:10px 20px;/*Nytt*/
 }

 aside{
     width: 300px;
     height: 720px;
     background-color: rgb(255,200,200);
     float: left;
     box-sizing: border-box;/*Nytt*/
     padding:10px 20px;/*Nytt*/


 }

 footer{
     width: 800px;
     height: 100px;
     background-color: aqua;
     clear: both;
           }
 h3.caphead{
         font-family: verdana;
         font-size: 18px;
         text-transform: capitalize;
         /*alternativ "uppercase" eller "lowercase"*/
 }
 p.art {
     font-family: times new roman;
     font-size: 14px;
 }
 p.asi{
     font-family: verdana;
     font-size: 12px;
     color: rgb(0,100,0);
 }
 }

