body {
  font-family: 'Special Elite', cursive;
  background-image: url("images/test.jpg");
  background-size: cover;
}



.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.002fr 0.8fr 0.8fr 0.8fr 0.8fr;
  grid-template-areas:
    "nav nav nav nav nav"
    "main main main main main"
    "content1 content2 content3 content4 content5"
    "footer footer footer footer footer";
  grid-gap: 0.5rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  color: brown;
  text-align: center;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

#content1 {
  grid-area: content1;
}

#content2 {
  grid-area: content2;
}

#content3 {
  grid-area: content3;

}
#content4 {
  grid-area: content4;
}
#content5 {
  grid-area: content5;
}
footer {
  grid-area: footer;
  font-family: 'Dosis', sans-serif;
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.8fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 0.2fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
	  "content4"
	  "content5"
      "footer";
  }
	body {background-size: auto}
	.bossimages{max-width:50%;
		 		height:auto;}
	#content1{margin-left: auto; margin-right: auto;}
	#content2{margin-left: auto; margin-right: auto;}
	#content3{margin-left: auto; margin-right: auto;}
	#content4{margin-left: auto; margin-right: auto;}
	#content5{margin-left: auto; margin-right: auto;}
}